<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Titre de page</title>
    <%- include('partials/head'); %>
  </head>
<body>
    <%- include('partials/headbar'); %>


    <p>liste des bornes:</p>

</body>


<%- include('partials/bottom'); %>
</html>